@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

$clr-prim1: hsl(7, 99%, 70%);
$clr-prim2: hsl(51, 100%, 49%);
$clr-prim3: hsl(167, 40%, 24%);
$clr-prim4: hsl(198, 62%, 26%);
$clr-prim5: hsl(168, 34%, 41%);

$clr-neut1: hsl(212, 27%, 19%);
$clr-neut2: hsl(213, 9%, 39%);
$clr-neut3: hsl(232, 10%, 55%);
$clr-neut4: hsl(210, 4%, 67%);
$clr-neut5: hsl(0, 0%, 100%);

$font1 : 'Barlow', sans-serif;
$font2 : 'Fraunces', serif;

$font-wght1 : 600;
$font-wght2 : 700;
$font-wght3 : 900;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: calc(18px + 1vw);
    font-family: $font1;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    font-family: $font2;
    font-weight: $font-wght3;
}
p {
    color: $clr-neut4;
    padding: 1rem;
    line-height: 1.1rem;
    padding-bottom: 2rem;
    font-size: 0.8rem;
}
a {
    text-decoration: none; 
    color: black;
}
.header {
    height: 80px;
    background-color: #3ebfff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    z-index: 1;

    &_nav {
        position: relative;

        ul {
            position: absolute;
            top: 78px;
            left: -292px;
            background-color: $clr-neut5;
            width: 329px;
            min-height: 305px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2rem;
            transform: translateY(-1000px);
            transition: transform 0.3s ease;    
        }

        li {
            list-style: none;
            margin-bottom: 2rem;
        }

        a {
            text-decoration: none;
            color: $clr-neut1;
            font-size: 1.1rem;
        }
    }

    .ul-active {
        transform: translateY(0px);
    }

    &_burger {
            cursor: pointer;
    }

    &_contact {
        background-color: $clr-prim2;
        padding: 1rem 2rem;
        border-radius: 2rem;
    }
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
.yellow {
    background-color: $clr-prim2;
}
.red {
    background-color: $clr-prim1;
}
.green {
    color: $clr-prim3;
}
.blue {
    color: $clr-prim4;
}
.main {
    margin-bottom: -4px;
}
.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.4rem;
    display: block;
    z-index: -1;
    opacity: 30%;
    border-radius: 0.2rem;
    transition: opacity 0.3s ease-in;

}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

    picture {
        position: absolute;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
    }

    &_bckground {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateZ(-10px) scale(2);
    }

    h2 {
        font-family: $font2;
        color: $clr-neut5;
        font-size: 1.6rem;
        letter-spacing: 0.5rem;
        text-align: center;
        font-weight: $font-wght3;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
}
main {
    a {
        margin-top: 2rem;
        font-weight: $font-wght1;
        font-family: $font2;
        font-size: 0.7rem;
        position: relative;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0);
        padding: 0 0.5rem;

        &:hover .underline {
            opacity: 1;
        }
    }
}
.transform {
    img {
        width: 100%;
    }

    aside {
        background-color: white;
        margin-top: -5px;
        position: relative;
        padding-bottom: 3.5rem;
    }

    h2 {
        padding-top: 3.5rem;
    }
    
}

.standOut {
    display: flex;
    flex-direction: column-reverse;

    img {
        width: 100%;
    }
    aside {
        background-color: white;
        padding: 3.5rem 0;
        margin: 0 1.6rem;
    }
}

.part2 {
    position: relative;
    picture {
        position: absolute;
        z-index: -1;
        left: 0;
    }
    img {
        width: 100vw;
    }
    h2 {
        padding-top: calc(13rem + 24vw);
        font-size: 1.3rem;
        padding-bottom: 0.4rem;
    }
    p {
        line-height: 1.4;
        font-size: 0.75rem;
        padding-bottom: 1rem;
    }
}

.part3 {
    background-color: white;
    padding-top: 3rem;

    h2 {
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
        padding-bottom: 3.5rem;
        color: $clr-neut4;
        font-weight: $font-wght3;
    }
    img {
        width: 20%;
        border-radius: 50%;
    }
    p {
        color: $clr-neut2;
        margin: 0.3rem 0.4rem;
        line-height: 1.8;
    }
    h3{
        font-family: $font2;
        color: $clr-neut1;
        font-weight: $font-wght3;
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
    }
    h4 {
        font-size: 0.7rem;
        color: $clr-neut4;
        margin-bottom: 4.5rem;
    }
}


.part4 {
    div {
        display: flex;
        margin-bottom: -4px;
    }
    width: 100%;

    img {
        width: 100%;
    }
}

footer {
    background-color: hsla(166.6, 57.4%, 39.6%, 0.78);
    margin-top: -4px;
    padding: 4rem 2rem;
    

    .logo{

        margin-bottom: 1.5rem;
        fill: $clr-prim3;
        transform: scale(1.2);
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
    }
    li {
        list-style-type: none;

    }
    a {
        color: $clr-prim3;
        
        &:hover {
            color: white;
        }
    }

    .ulIcons {
        width: 60%;
        margin: 6rem auto 3rem auto;

        img {
            width: 120%;
        }
    }
}

@media screen and (min-width: 500px) {
    .header {
        &_contact {
            background-color: $clr-neut5;
            padding: 0.5rem 1rem;
            
        }
        &_nav {
            width: 40%;
            ul {
                position:initial;
                transform: translateY(0);
                background-color: #3ebfff;
                flex-direction: row;
                justify-content: space-around;
                width: auto;
                min-height: auto;
                padding-top: 1.5rem;
                
            }
            a {
                        font-size: 0.5rem;
                        color: $clr-neut5;
                    }
        }
        &_burger {
            display: none;
        }
        
    }
}